@import "~bootstrap/scss/bootstrap";

.single {
  display: flex;

  p {
    font-size: 19px !important;
  }

  ul li{
    list-style: disc !important;
  }

  ol li{
    list-style: decimal !important;
  }

  li {
    font-size: 18px !important;
  }

}
