@import "~bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
  overflow-y: scroll !important;
  min-height: 500px;
}

body.modal-open{
  overflow-y: hidden !important;
}

.writeInput {
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.view-demo {
  p {
    font-size: 20px !important;
  }

  li {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 1120px) {
  .topBar {
    flex: 3;
    display: block;
    text-align: end;
    padding: 0px 20px;
    font-size: 25px;
  }

  .topTitle {
    display: flex;
    flex: 3;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
    padding: 0px 20px;
  }

  .topLeft,
  .topRight {
    display: none;
  }

  .topCenter {
    display: none;
  }
}

@media only screen and (max-width: 780px){
  .card{
    width: 400px;
    height: 450px;
  }
}

.main{
  min-height: 380px;
}