@mixin variant($color, $background) {
  color: $color !important;
  background-color: $background !important;
  border-color: $background !important;
}

.btn.btn-danger {
  @include variant(#fff, #bb2d3b);
}

.btn.btn-warning {
  @include variant(#fff, #ffc107);
}

.btn.btn-success {
  @include variant(#fff, #198754);
}

.btn.btn-info {
  @include variant(#fff, #31d2f2);
}

.form-update {
  background-color: #ececec;
  padding: 15px 15px;
  border-radius: 5px;
}

.form-filter-user {
  margin-bottom: 10px;
  display: flex;
}

.form-filter-user-group {
  width: 20%;
  margin-right: 10px;
}

.tr-user-dashboard img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
}
