.btn.btn-danger {
  color: #fff !important;
  background-color: #bb2d3b !important;
  border-color: #b02a37 !important;
}

.btn.btn-warning {
  color: #fff !important;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.form-update {
  background-color: #ececec;
  padding: 15px 15px;
  border-radius: 5px;
}

.form-filter-user{
  margin-bottom: 10px;
  display: flex;
}

.form-filter-user-group{
  width: 20%;
  margin-right: 10px;
}
